*,
*::after,
*::before{
  box-sizing: border-box;
}

body {
  height: 95vh;
  width: 95vw;
}

.container {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: black;
  padding: 5vh;
  padding-left: 22vw;
  padding-right: 22vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.btn {
  width: 12vw;
  height: 20vh;
  background-color: white;
  margin: auto;
  border-radius: 10%;
}